* {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

hr {
  border: solid 0.2px rgba(255, 255, 255, 0.1);
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
  user-select: none;
  -moz-user-select: none; /* Untuk Firefox */
  -webkit-user-select: none; /* Untuk Safari dan Chrome */
  -ms-user-select: none; /* Untuk Microsoft Edge */
  background-color: rgb(25, 28, 35);
}

/* HEADER */
nav {
  z-index: 99999999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: white;
  color: rgba(24, 26, 31);
  position: fixed;
  width: 100%;
}

nav h1 {
  font-weight: 600;
}

nav li a {
  color: rgba(24, 26, 31);
  font-size: 1rem;
}
nav .links li:nth-child(1) a {
  color: seagreen;
}

nav li a:hover {
  color: seagreen;
}

nav .links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.logo h1 {
  font-size: 2rem;
  color: seagreen;
}
.hamburger {
  font-size: 1.5rem;
  color: seagreen;
}
.hamburger {
  display: none;
  cursor: pointer;
}

.dropdown_menu {
  z-index: 9999;
  margin-top: 5rem;
  display: none;
  position: absolute;
  right: 2rem;
  height: 0;
  overflow: hidden;
  border-radius: 1rem;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  background-color: rgba(0, 0, 0, 0.6);
  height: max-content;
  overflow: visible;
  padding: 1rem 0;
  position: fixed;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li a {
  font-size: 1.5rem;
  margin: 2rem;
  color: white;
  line-height: 2;
}
.dropdown_menu li a:hover {
  color: seagreen;
}

.hero {
  display: flex;
  width: auto;
  flex-direction: column;
  height: 100vh;
  background-image: url(../asset/img/bg.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 0.8);
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 2rem;
}

/* MAIN */

main {
  border: 1px solid seagreen;
  padding: 2rem;
  gap: 2rem;
  display: flex;
  color: #fff;
}

main #content .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
}

main #content .card:last-child {
  background-color: rgba(255, 255, 255, 0);
}

main #content #part_1 {
  text-align: center;
  gap: 1rem;
}
main #content #part_2 {
  /* border: 1px solid slateblue; */
}
main #content #part_2 .offer_card {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  /* border: 1px solid slateblue; */
  align-items: center;
}
main #content #part_2 .offer_card div {
  padding: 2rem;
  border-radius: 1rem;
  /* border: 1px solid slateblue; */
  text-align: center;
  line-height: 2rem;
  background-color: rgba(255, 255, 255, 0.05);
}

main #content #part_3 {
  /* border: 1px solid slateblue; */
  gap: 2rem;
}
main #content #part_3 .activity_card {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  width: 800px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.05);
  gap: 2rem;
  align-items: center;
  border-radius: 1rem;
}
main #content #part_3 .activity_card figure {
  height: 200px;
}
main #content #part_3 .activity_card figure img {
  max-height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
main #content #part_3 .activity_card article {
  flex: 80%;
  width: auto;
}
main #content #part_3 .activity_card article h1 {
  margin-bottom: 1rem;
}

/* ASIDE */
aside {
  border: 1px solid slateblue;
  height: max-content;
  display: flex;
  justify-content: center;
}

aside article header img {
  height: 12rem;
  border-radius: 1rem;
}

aside article img:last-child {
  height: 3rem;
  border-radius: 0%;
  padding: 0.5rem;
}
aside {
  padding: 2rem;
  border-radius: 1rem;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.05);
  height: max-content;
  width: auto;
}

footer {
  padding: 6rem 4rem;
  height: max-content;
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  margin-top: auto;
}

footer .container .footer_card {
  display: flex;
  justify-content: space-between;
}

footer .container .footer_card .about {
  padding-right: 2rem;
  flex: 3;

  margin-right: 5rem;
}
footer .container .footer_card .footer_links {
  padding-right: 1rem;
  flex: 1;
}

footer .container .footer_card a {
  line-height: 2rem;
  color: white;
  transition: 0.3s ease;
}
footer .container .footer_card a:hover {
  color: seagreen;
  padding-left: 1rem;
}
/* Responsive Navbar */

/* Tablet*/
@media (max-width: 1099px) {
  nav .links {
    display: none;
  }

  .logo h1 {
    font-size: 1.5rem;
  }
  .hamburger {
    display: block;
  }

  .dropdown_menu {
    display: block;
    width: unset;
  }
  .dropdown_menu li a {
    font-size: 1.25rem;
  }
  .hero .content h1 {
    font-size: 1.5rem;
  }

  footer .container .footer_card {
    flex-direction: column;
  }

  footer .container .footer_card .about {
    width: 100%;
    margin-bottom: 2rem;
  }

  footer .container .footer_card .footer_links {
    margin-bottom: 2rem;
  }

  .activity .card {
    justify-content: center;
    align-items: center;
  }

  .card figure {
    margin-bottom: 1rem;
  }
  .card article {
    width: 100%;
    height: max-content;
    text-align: justify;
  }
  .card article h1 {
    text-align: center;
  }
}
