* {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

hr {
  border: solid 0.2px rgba(255, 255, 255, 0.1);
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
  user-select: none;
  -moz-user-select: none; /* Untuk Firefox */
  -webkit-user-select: none; /* Untuk Safari dan Chrome */
  -ms-user-select: none; /* Untuk Microsoft Edge */
  background-color: rgb(25, 28, 35);
}

/* HEADER */
nav {
  z-index: 99999999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: white;
  color: rgba(24, 26, 31);
  position: fixed;
  width: 100%;
}

nav h1 {
  font-weight: 600;
}

nav li a {
  color: rgba(24, 26, 31);
  font-size: 1rem;
}
nav .links li:nth-child(2) a {
  color: seagreen;
}

nav li a:hover {
  color: seagreen;
}

nav .links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.logo h1 {
  font-size: 2rem;
  color: seagreen;
}
.hamburger {
  font-size: 1.5rem;
  color: seagreen;
}
.hamburger {
  display: none;
  cursor: pointer;
}

.dropdown_menu {
  z-index: 9999;
  margin-top: 5rem;
  display: none;
  position: absolute;
  right: 2rem;
  height: 0;
  overflow: hidden;
  border-radius: 1rem;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  background-color: rgba(0, 0, 0, 0.6);
  height: max-content;
  overflow: visible;
  padding: 1rem 0;
  position: fixed;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li a {
  font-size: 1.5rem;
  margin: 2rem;
  color: white;
  line-height: 2;
}
.dropdown_menu li a:hover {
  color: seagreen;
}

.hero {
  display: flex;
  width: auto;
  flex-direction: column;
  height: 100vh;
  background-image: url(../asset/img/pexels-lara-jameson-9324299.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 0.8);
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 2rem;
}

/* MAIN */

main #content {
  /* border: 1px solid seagreen; */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main #content .card {
  /* border: 1px solid slateblue; */
  text-align: center;
  color: white;
}
main #content .card h1 {
  margin-bottom: 1rem;
}
main #content .card:nth-last-child(2) {
  /* border: 1px solid skyblue; */
  padding: 2rem;
}
main #content .card:nth-last-child(2) .photogroup {
  /* border: 1px solid slateblue; */
  width: 100%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
}

main #content .card:nth-last-child(2) .photocard {
  /* border: 1px solid rgb(237, 217, 0); */
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  /* display: flex; */
  justify-content: center;
  width: max-content;
  padding: 2rem;
  gap: 1rem;
}
main #content .card:nth-last-child(2) .photocard .description {
  /* display: flex; */
  /* flex-direction: column; */
  /* border: 1px solid slateblue; */
  text-align: left;

  /* border: 1px solid salmon; */
  line-height: 2rem;
  /* align-items: center; */
  /* align-content: center; */
}
main #content .card:nth-last-child(2) .photocard figure {
  /* border: 1px solid salmon; */
  height: 300px;
  max-height: fit-content;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
main #content .card:nth-last-child(2) .photocard figure img {
  /* border: 1px solid salmon; */
  width: 200px;
  height: 300px;
  object-fit: cover;
}
/* FOOTER */

footer {
  padding: 6rem 4rem;
  height: max-content;
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  margin-top: auto;
}

footer .container .footer_card {
  display: flex;
  justify-content: space-between;
}

footer .container .footer_card .about {
  padding-right: 2rem;
  flex: 3;

  margin-right: 5rem;
}
footer .container .footer_card .footer_links {
  padding-right: 1rem;
  flex: 1;
}

footer .container .footer_card a {
  line-height: 2rem;
  color: white;
  transition: 0.3s ease;
}
footer .container .footer_card a:hover {
  color: seagreen;
  padding-left: 1rem;
}

/* RESPONSIVE */

/* Another*/
@media (max-width: 1210px) {
  main {
    flex-direction: column;
  }
  aside {
    width: 800px;
    margin: auto;
  }
}

/* Tablet*/
@media (max-width: 820px) {
  /* header */
  nav .links {
    display: none;
  }
  .logo h1 {
    font-size: 1.5rem;
  }
  .hamburger {
    display: block;
  }

  .dropdown_menu {
    display: block;
    width: unset;
  }
  .dropdown_menu li a {
    font-size: 1.25rem;
  }

  /* footer */
  footer .container .footer_card {
    flex-direction: column;
  }

  footer .container .footer_card .about {
    width: 100%;
    margin-bottom: 2rem;
  }

  footer .container .footer_card .footer_links {
    margin-bottom: 2rem;
  }

  .activity .card {
    justify-content: center;
    align-items: center;
  }

  .card figure {
    margin-bottom: 1rem;
  }
  .card article {
    width: 100%;
    height: max-content;
    text-align: justify;
  }
  .card article h1 {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
  .dropdown_menu li {
    text-align: center;
  }
  .dropdown_menu li a {
    font-size: 1rem;
  }
}
